[user]
        name = Andrew
        email = andrew.dale.wylie@gmail.com

[core]
        autocrlf = false
        editor = vim
        safecrlf = true
        quotepath = false

[color]
        branch = auto
        diff = auto
        status = auto

[push]
        default = current
